
/* Resetting the box model */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* Constant properties */
:root {
    --main-text-color: black;
}

/* Body styles */
body {
    height: 100%;
    background-image: url(/images/paper-texture.png);
    color: var(--main-text-color);
}

/* Removes underlines on link elements */
a:link {
    text-decoration: none;
}

/* Display images as blocks */
img {
    display: block;
}

/* Styles for intro container for intro elements */
.intro_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.intro_container h1 {
    margin-left: 25px;
}

@keyframes drawStroke {
    to {
        stroke-dashoffset: 0;
    }
}


