
/* Resetting the box model */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* Constant properties */
:root {
    --paper-texture: url(images/paper-texture.png);
    --main-text-color: black;
}

/* Body styles */
body {
    margin: 0;
    padding: 0;
    background: var(--paper-texture);
    color: var(--main-text-color);
}

/* Notebook Paper Styles */
#notebook-paper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 29px, #00b0d7 1px);
    background-size: 100% 30px;
    position: relative;
}

#notebook-paper::before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    left:149px;
    height:100%;
    width:1px;
    background:#db4034;
}

header {
    height: 125px;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    top: 0;
    left: 0;
    position: relative;
    z-index: 2;
}

header h1{
    font-size: 60px;
    line-height: 30px;
    padding-left: 175px;
    padding-top: 120px;
}

header::before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    left:149px;
    height:100%;
    width:1px;
    background:#db4034;
}


/* Removes underlines on link elements */
a:link {
    text-decoration: none;
}

/* Display images as blocks */
img {
    display: block;
}

/* Styles for intro container for intro elements */
.intro_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_container h1 {
    margin-left: 25px;
}

@keyframes drawStroke {
    to {
        stroke-dashoffset: 0;
    }
}



