
/* Resetting the box model */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* Font for writing text on website */
@font-face {
    font-family: writingFont;
    src: url("fonts/LovelexieHandwritten.ttf");
}

/* Body styles */
body {
    background: url("images/notebook-paper-desktop.jpg") no-repeat;
    color: rgba(0,0,0,0.75);
    font-family: writingFont, Arial, sans-serif;
    font-size: x-large;
}

/* Header styles */
header {
    margin-left: 150px;
    margin-top: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Styles for mobile devices */
@media only screen and (max-width: 500px) {
    body {
        background: url("images/notebook-paper-mobile.jpg") no-repeat;
        font-size: large;
    }

    header {
        margin-left: 25px;
        margin-top: 110px;
    }
}

